n8n/Auth-Validate-Email.json
{
  "name": "Auth - Validate Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "validate-email",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Validate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQueryParameters": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id_token",
              "value": "={{ $json.body.credential }}"
            }
          ]
        },
        "options": {}
      },
      "id": "verify-google-token",
      "name": "Verify Google Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "email-check",
              "leftValue": "={{ $json.email }}",
              "rightValue": "YOUR_ALLOWED_EMAIL_HERE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-whitelist",
      "name": "Check Whitelist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "httpCode": "403",
        "responseMode": "onNode",
        "responseBody": "{\"authorized\": false, \"error\": \"Unauthorized email address\"}",
        "options": {}
      },
      "id": "unauthorized-response",
      "name": "Unauthorized Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        150
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"authorized\": true, \"email\": \"{{ $json.email }}\", \"name\": \"{{ $json.name }}\"}",
        "options": {}
      },
      "id": "success-response",
      "name": "Respond with Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        -50
      ]
    }
  ],
  "connections": {
    "Webhook Validate": {
      "main": [
        [
          {
            "node": "Verify Google Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Google Token": {
      "main": [
        [
          {
            "node": "Check Whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Whitelist": {
      "main": [
        [
          {
            "node": "Respond with Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
