n8n/get-api-workflow.json
{
    "workflow": {
        "id": "zHrqNHfDab6dQZIIg04HA",
        "name": "דוח 1",
        "active": true,
        "isArchived": false,
        "versionId": "merged-v1",
        "triggerCount": 3,
        "createdAt": "2026-03-01T11:36:36.549Z",
        "updatedAt": "2026-03-05T09:25:27.000Z",
        "settings": {
            "executionOrder": "v1",
            "availableInMCP": true
        },
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Get row(s) in sheet",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get row(s) in sheet": {
                "main": [
                    [
                        {
                            "node": "Code in JavaScript",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Code in JavaScript": {
                "main": [
                    [
                        {
                            "node": "Respond to Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "When chat message received": {
                "main": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Telegram Trigger": {
                "main": [
                    [
                        {
                            "node": "If",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "If": {
                "main": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Send a text message1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Simple Memory": {
                "ai_memory": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_memory",
                            "index": 0
                        }
                    ]
                ]
            },
            "OpenAI Chat Model": {
                "ai_languageModel": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get row(s) in sheet in Google Sheets": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Date & Time": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "AI Agent": {
                "main": [
                    [
                        {
                            "node": "Send a text message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "nodes": [
            {
                "parameters": {
                    "path": "Doch-1",
                    "responseMode": "responseNode",
                    "options": {
                        "allowedOrigins": "*"
                    }
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    0,
                    0
                ],
                "id": "01733157-3bc3-49fe-a662-65da1f558008",
                "name": "Webhook",
                "webhookId": "68647e49-80a1-4372-8fa2-62244a6cbbc6"
            },
            {
                "parameters": {
                    "documentId": {
                        "__rl": true,
                        "value": "1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI",
                        "mode": "id"
                    },
                    "sheetName": {
                        "__rl": true,
                        "value": 1488279794,
                        "mode": "list",
                        "cachedResultName": "דוח 1",
                        "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI/edit#gid=1488279794"
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.googleSheets",
                "typeVersion": 4.7,
                "position": [
                    224,
                    0
                ],
                "id": "75a2eea7-13ca-4a44-9d8a-8ef2c555a8d1",
                "name": "Get row(s) in sheet"
            },
            {
                "parameters": {
                    "jsCode": "// 1) Read date from path/query/body\nlet inputDate = $('Webhook').first().json.query.date;\n\n// 2) Normalize to string if it exists\nif (inputDate !== undefined && inputDate !== null) {\n    inputDate = String(inputDate).trim();\n}\n\n/**\n * Robust date formatting for various user inputs\n * Supports: \"d/m/yy\", \"dd/mm/yyyy\", \"d.m.yy\", \"2326\" (d/m/yy), \"020326\" (dd/mm/yy)\n */\nfunction getFormattedDate(dateStr) {\n    if (!dateStr) return null;\n\n    // Handle standard delimiters like \"2/3/26\" or \"02.03.2026\"\n    const parts = dateStr.split(/[./-]/);\n    if (parts.length === 3) {\n        let [d, m, y] = parts;\n        // Ensure year is 2 digits for consistency with your sheet headers\n        if (y.length === 4) y = y.slice(-2);\n        return `${parseInt(d)}/${parseInt(m)}/${y}`;\n    }\n\n    // Handle legacy 4-digit format \"2326\" -> \"2/3/26\"\n    if (/^\\d{4}$/.test(dateStr)) {\n        const d = dateStr[0];\n        const m = dateStr[1];\n        const y = dateStr.slice(2);\n        return `${d}/${m}/${y}`;\n    }\n    \n    // Handle 6-digit format \"020326\" -> \"2/3/26\"\n    if (/^\\d{6}$/.test(dateStr)) {\n        const d = parseInt(dateStr.slice(0, 2));\n        const m = parseInt(dateStr.slice(2, 4));\n        const y = dateStr.slice(4);\n        return `${d}/${m}/${y}`;\n    }\n\n    return null;\n}\n\n// 3) Parse the input or default to null\nlet parsedDate = getFormattedDate(inputDate);\n\n// 4) If no valid user date provided → fallback to today's date\nif (!parsedDate) {\n    const today = new Date();\n    const day = today.getDate();\n    const month = today.getMonth() + 1;\n    const year = String(today.getFullYear()).slice(-2);\n    parsedDate = `${day}/${month}/${year}`;\n}\n\n// 5) Use parsed date as the column key for the Google Sheet\nconst dateKey = parsedDate;\n\n// 6) Map the sheet data to the desired output format\nconst result = items.map(item => ({\n  name: item.json[\"שם\"] || \"\",\n  personalNumber: item.json[\"מספר אישי\"] || \"\",\n  department: item.json[\"מחלקה\"] || \"\",\n  role: item.json[\"תפקיד\"] || \"\",\n  todayValue: item.json[dateKey] || \"\",\n  dateUsed: dateKey\n}));\n\n// 7) Return the result for the Respond to Webhook node\nreturn [\n  {\n    json: {\n      data: result\n    }\n  }\n];\n"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    448,
                    0
                ],
                "id": "43741f10-d252-44f2-8727-b04baf29ef3c",
                "name": "Code in JavaScript"
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ $json.data }}",
                    "options": {}
                },
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.5,
                "position": [
                    672,
                    0
                ],
                "id": "726a1fca-e419-4b4d-8980-fc57e36b57d1",
                "name": "Respond to Webhook"
            },
            {
                "parameters": {
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.chatTrigger",
                "typeVersion": 1.4,
                "position": [
                    0,
                    336
                ],
                "id": "0ef6c354-4034-48a5-bcb0-b67c7102d4e3",
                "name": "When chat message received",
                "webhookId": "af8b0f0f-d2db-4466-9784-29fb71efec80"
            },
            {
                "parameters": {
                    "updates": [
                        "message"
                    ],
                    "additionalFields": {}
                },
                "type": "n8n-nodes-base.telegramTrigger",
                "typeVersion": 1.2,
                "position": [
                    -160,
                    560
                ],
                "id": "d3ef9c8f-9994-43a8-b35e-ed286a6de66d",
                "name": "Telegram Trigger",
                "webhookId": "9394adfb-ddb9-43a7-a461-491b54eada08",
                "credentials": {
                    "telegramApi": {
                        "id": "UNrH9RxQ2BJssAsp",
                        "name": "Telegram account MP-3979"
                    }
                }
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict",
                            "version": 3
                        },
                        "conditions": [
                            {
                                "id": "af771484-057f-4fd2-b5ce-cfbaa1b43533",
                                "leftValue": "={{ $json.message.chat.id }}",
                                "rightValue": 256170040,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            },
                            {
                                "id": "553fc034-70e3-47e7-91af-2560e03db8aa",
                                "leftValue": "={{ $json.message.chat.id }}",
                                "rightValue": 468720701,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            },
                            {
                                "id": "f4d5fc49-a314-4d67-b379-24d071045952",
                                "leftValue": "={{ $json.message.chat.id }}",
                                "rightValue": 627068337,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "or"
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.3,
                "position": [
                    64,
                    560
                ],
                "id": "2faa8eca-12d5-4d54-bf7d-6e5f85917555",
                "name": "If"
            },
            {
                "parameters": {
                    "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
                    "text": "המפקד לא מאשר לי לדבר איתך ",
                    "additionalFields": {}
                },
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    288,
                    736
                ],
                "id": "5ea95dce-93ac-4017-b8c5-0f8bec7980f8",
                "name": "Send a text message1",
                "webhookId": "453bbe4b-bce9-41bc-a349-88c0eb5b8242",
                "credentials": {
                    "telegramApi": {
                        "id": "UNrH9RxQ2BJssAsp",
                        "name": "Telegram account MP-3979"
                    }
                }
            },
            {
                "parameters": {
                    "options": {
                        "systemMessage": "הוראות לסוכן הצה\"לי\nאתה סוכן AI מיוחד לניהול נוכחות יומית של יחידה צבאית/ארגון. יש לך גישה לנתוני חומר גלם ישירות מגיליון Google. תפקידך לענות על שאלות בנושא נוכחות, לנתח את המידע, ולהציג תוצאות בצורה ברורה ומסודרת.\n\nמבנה הנתונים\nכל רשומה בגיליון מכילה את השדות הבאים:\n\nשדה\tתיאור\nname\tשם מלא של האדם\npersonalNumber\tמספר אישי\ndepartment\tמחלקה / יחידה\nrole\tתפקיד\ntodayValue\tסטטוס נוכחות\ndateUsed\tתאריך הדיווח (פורמט DD/M/YY)\nמפתח סטטוסי נוכחות (todayValue)\nערך\tמשמעות\tאייקון\n1\tבבסיס — נמצא בבסיס\t🪖\n0\tבבית — שוחרר הביתה\t🏠\n2\tמחלה / גימלים — חופשת מחלה\t🤒\nכל ערך אחר (טקסט כמו \"הכשרה 03\", \"לא דווח\" וכו')\tאחר\t❓\nכללי עבודה\nשפה: ענה תמיד בעברית, בצורה ברורה ומסודרת.\nסינון: התעלם משורות ריקות (שם ריק, מחלקה ריקה).\nתאריך: אם המשתמש לא ציין תאריך — השתמש בתאריך היום.\nעיגול: הצג מספרים שלמים בלבד.\nניתוח: כשמחשבים סיכומים — קבץ לפי מחלקה ותפקיד.\nשאלות לדוגמה שאתה יכול לענות עליהן\nכמה אנשים נמצאים בבסיס היום?\nכמה חיילים מחלקה 1 נמצאים בבית?\nמי לא דיווח היום?\nמה אחוז הנוכחות במחלקה X?\nהצג לי רשימה של כל החולים\nמי נמצא בהכשרה?\nכמה קצינים נמצאים בבסיס לעומת בבית?\nמה הנוכחות בתאריך 25/02/2026?\nפורמט תשובה מועדף\nכשמציגים סיכום מחלקות, השתמש במבנה הבא:\n\n📊 דוח נוכחות — [תאריך]\nסה\"כ: [נוכחים] / [סה\"כ] ([אחוז]%)\n🪖 בבסיס: X\n🏠 בבית: X  \n🤒 מחלה: X\n❓ אחר: X\n---\nמחלקה 1: X/Y בבסיס\n  • חייל: X\n  • קצין: X\n  ...\nהגבלות\nאל תמציא נתונים שלא קיימים בגיליון.\nאם תאריך לא קיים בנתונים — דווח על כך בצורה ברורה.\nאם שאלה אינה קשורה לנוכחות — הפנה את המשתמש לנושא הרלוונטי.\nהגיליון משתנה לעתים תכופות — תמיד יש לשלוף נתונים מחדש.\nיש להתייחס רק לשורות בהן עמודת השם אינה ריקה."
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 3.1,
                "position": [
                    352,
                    336
                ],
                "id": "ed7fc078-c57e-45a0-bd19-daeefa787a01",
                "name": "AI Agent"
            },
            {
                "parameters": {
                    "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id || '' }}",
                    "text": "={{ $json.output }}",
                    "additionalFields": {}
                },
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    608,
                    336
                ],
                "id": "a6dc6000-fb24-4df9-ac1b-6edcd1923b79",
                "name": "Send a text message",
                "webhookId": "7686660a-a62d-4517-9ef3-0198ee9aca5c",
                "credentials": {
                    "telegramApi": {
                        "id": "UNrH9RxQ2BJssAsp",
                        "name": "Telegram account MP-3979"
                    }
                }
            },
            {
                "parameters": {
                    "contextWindowLength": 10
                },
                "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
                "typeVersion": 1.3,
                "position": [
                    352,
                    560
                ],
                "id": "b0b03cf5-1446-4ba5-8d32-c691000de4e7",
                "name": "Simple Memory"
            },
            {
                "parameters": {
                    "model": {
                        "__rl": true,
                        "mode": "list",
                        "value": "gpt-4.1-mini"
                    },
                    "builtInTools": {},
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
                "typeVersion": 1.3,
                "position": [
                    224,
                    560
                ],
                "id": "ee9dc4d2-e7f4-4c21-b4a2-408cdc47a58d",
                "name": "OpenAI Chat Model",
                "credentials": {
                    "openAiApi": {
                        "id": "4RUbQby5ZAQBmAAH",
                        "name": "OpenAi account"
                    }
                }
            },
            {
                "parameters": {
                    "documentId": {
                        "__rl": true,
                        "value": "1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI",
                        "mode": "id"
                    },
                    "sheetName": {
                        "__rl": true,
                        "value": 1488279794,
                        "mode": "list",
                        "cachedResultName": "דוח 1",
                        "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI/edit#gid=1488279794"
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.googleSheetsTool",
                "typeVersion": 4.7,
                "position": [
                    480,
                    560
                ],
                "id": "83c9d94e-b394-433c-9383-13e2339af232",
                "name": "Get row(s) in sheet in Google Sheets",
                "credentials": {
                    "googleSheetsOAuth2Api": {
                        "id": "gc1kEdz83WlO5i4v",
                        "name": "Google Sheets MP 3 979"
                    }
                }
            },
            {
                "parameters": {
                    "options": {}
                },
                "type": "n8n-nodes-base.dateTimeTool",
                "typeVersion": 2,
                "position": [
                    608,
                    560
                ],
                "id": "bba06486-2fc7-4df4-86e4-39b19300df1a",
                "name": "Date & Time"
            }
        ],
        "tags": [],
        "meta": {
            "templateCredsSetupCompleted": true
        },
        "parentFolderId": null
    }
}