n8n/get-api-workflow.json
{
    "workflow": {
        "id": "zHrqNHfDab6dQZIIg04HA",
        "name": "דוח 1",
        "active": true,
        "isArchived": false,
        "versionId": "69b01fd1-e4f7-4ad8-b0b9-a2a9f3015ec6",
        "triggerCount": 1,
        "createdAt": "2026-03-01T11:36:36.549Z",
        "updatedAt": "2026-03-04T06:49:49.883Z",
        "settings": {
            "executionOrder": "v1",
            "availableInMCP": true
        },
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Get row(s) in sheet",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get row(s) in sheet": {
                "main": [
                    [
                        {
                            "node": "Code in JavaScript",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Code in JavaScript": {
                "main": [
                    [
                        {
                            "node": "Respond to Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "nodes": [
            {
                "parameters": {
                    "path": "Doch-1",
                    "responseMode": "responseNode",
                    "options": {
                        "allowedOrigins": "*"
                    }
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    0,
                    0
                ],
                "id": "01733157-3bc3-49fe-a662-65da1f558008",
                "name": "Webhook",
                "webhookId": "68647e49-80a1-4372-8fa2-62244a6cbbc6"
            },
            {
                "parameters": {
                    "documentId": {
                        "__rl": true,
                        "value": "1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI",
                        "mode": "id"
                    },
                    "sheetName": {
                        "__rl": true,
                        "value": 1488279794,
                        "mode": "list",
                        "cachedResultName": "דוח 1",
                        "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI/edit#gid=1488279794"
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.googleSheets",
                "typeVersion": 4.7,
                "position": [
                    224,
                    0
                ],
                "id": "75a2eea7-13ca-4a44-9d8a-8ef2c555a8d1",
                "name": "Get row(s) in sheet"
            },
            {
                "parameters": {
                    "jsCode": "// 1) Read date from path/query/body\nlet inputDate = $('Webhook').first().json.query.date;\n\n// 2) Normalize to string if exists\nif (inputDate !== undefined && inputDate !== null) {\n    inputDate = String(inputDate).trim();\n}\n\nfunction getFormattedDate(dateStr) {\n    if (!dateStr) return null;\n\n    // Handle standard \"d/m/yy\", \"dd/mm/yy\", \"d.m.yy\" etc.\n    const parts = dateStr.split(/[./-]/);\n    if (parts.length === 3) {\n        let [d, m, y] = parts;\n        if (y.length === 4) y = y.slice(-2);\n        return `${parseInt(d)}/${parseInt(m)}/${y}`;\n    }\n\n    // Handle legacy 4-digit format \"2326\" -> \"2/3/26\"\n    if (/^\\d{4}$/.test(dateStr)) {\n        const d = dateStr[0];\n        const m = dateStr[1];\n        const y = dateStr.slice(2);\n        return `${d}/${m}/${y}`;\n    }\n    \n    // Handle 6-digit format \"020326\" -> \"2/3/26\"\n    if (/^\\d{6}$/.test(dateStr)) {\n        const d = parseInt(dateStr.slice(0, 2));\n        const m = parseInt(dateStr.slice(2, 4));\n        const y = dateStr.slice(4);\n        return `${d}/${m}/${y}`;\n    }\n\n    return null;\n}\n\nlet parsedDate = getFormattedDate(inputDate);\n\n// 4) If no valid user date → use today's date\nif (!parsedDate) {\n    const today = new Date();\n    const day = today.getDate();\n    const month = today.getMonth() + 1;\n    const year = String(today.getFullYear()).slice(-2);\n    parsedDate = `${day}/${month}/${year}`;\n}\n\n// 5) Use parsed date as Excel column key\nconst dateKey = parsedDate;\n\n// 6) Build result array\nconst result = items.map(item => ({\n  name: item.json[\"שם\"] || \"\",\n  personalNumber: item.json[\"מספר אישי\"] || \"\",\n  department: item.json[\"מחלקה\"] || \"\",\n  role: item.json[\"תפקיד\"] || \"\",\n  todayValue: item.json[dateKey] || \"\",\n  dateUsed: dateKey\n}));\n\n// 7) Return array for webhook\nreturn [\n  {\n    json: {\n      data: result\n    }\n  }\n];"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    448,
                    0
                ],
                "id": "43741f10-d252-44f2-8727-b04baf29ef3c",
                "name": "Code in JavaScript"
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ $json.data }}",
                    "options": {}
                },
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.5,
                "position": [
                    656,
                    0
                ],
                "id": "726a1fca-e419-4b4d-8980-fc57e36b57d1",
                "name": "Respond to Webhook"
            }
        ],
        "tags": [],
        "meta": {
            "templateCredsSetupCompleted": true
        },
        "parentFolderId": null
    }
}