n8n/Update Status API.json
{
  "name": "Update Status API",
  "nodes": [
    {
      "parameters": {
        "path": "Doch-1",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -144
      ],
      "id": "01733157-3bc3-49fe-a662-65da1f558008",
      "name": "Webhook",
      "webhookId": "68647e49-80a1-4372-8fa2-62244a6cbbc6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1488279794,
          "mode": "list",
          "cachedResultName": "דוח 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI/edit#gid=1488279794"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        -144
      ],
      "id": "75a2eea7-13ca-4a44-9d8a-8ef2c555a8d1",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gc1kEdz83WlO5i4v",
          "name": "Google Sheets MP 3 979"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1) Read date from path/query/body\nlet inputDate = $('Webhook').first().json.query.date;\n\n// 2) Normalize to string if it exists\nif (inputDate !== undefined && inputDate !== null) {\n    inputDate = String(inputDate).trim();\n}\n\n/**\n * Robust date formatting for various user inputs\n * Supports: \"d/m/yy\", \"dd/mm/yyyy\", \"d.m.yy\", \"2326\" (d/m/yy), \"020326\" (dd/mm/yy)\n */\nfunction getFormattedDate(dateStr) {\n    if (!dateStr) return null;\n\n    // Handle standard delimiters like \"2/3/26\" or \"02.03.2026\"\n    const parts = dateStr.split(/[./-]/);\n    if (parts.length === 3) {\n        let [d, m, y] = parts;\n        // Ensure year is 2 digits for consistency with your sheet headers\n        if (y.length === 4) y = y.slice(-2);\n        return `${parseInt(d)}/${parseInt(m)}/${y}`;\n    }\n\n    // Handle legacy 4-digit format \"2326\" -> \"2/3/26\"\n    if (/^\\d{4}$/.test(dateStr)) {\n        const d = dateStr[0];\n        const m = dateStr[1];\n        const y = dateStr.slice(2);\n        return `${d}/${m}/${y}`;\n    }\n    \n    // Handle 6-digit format \"020326\" -> \"2/3/26\"\n    if (/^\\d{6}$/.test(dateStr)) {\n        const d = parseInt(dateStr.slice(0, 2));\n        const m = parseInt(dateStr.slice(2, 4));\n        const y = dateStr.slice(4);\n        return `${d}/${m}/${y}`;\n    }\n\n    return null;\n}\n\n// 3) Parse the input or default to null\nlet parsedDate = getFormattedDate(inputDate);\n\n// 4) If no valid user date provided → fallback to today's date\nif (!parsedDate) {\n    const today = new Date();\n    const day = today.getDate();\n    const month = today.getMonth() + 1;\n    const year = String(today.getFullYear()).slice(-2);\n    parsedDate = `${day}/${month}/${year}`;\n}\n\n// 5) Use parsed date as the column key for the Google Sheet\nconst dateKey = parsedDate;\n\n// 6) Map the sheet data to the desired output format\n\nconst result = items.filter(item => item.json[\"שם\"] && item.json[\"שם\"].trim() !== \"\")\n  .map(item => ({\n    name: item.json[\"שם\"],\n    personalNumber: item.json[\"מספר אישי\"] || \"\",\n    department: item.json[\"מחלקה\"] || \"\",\n    role: item.json[\"תפקיד\"] || \"\",\n    todayValue: (item.json[dateKey] === 0 || item.json[dateKey]) ? item.json[dateKey] : \"\",\n    dateUsed: dateKey\n  }));\n\n// 7) Return the result for the Respond to Webhook node\nreturn [\n  {\n    json: {\n      data: result\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -144
      ],
      "id": "43741f10-d252-44f2-8727-b04baf29ef3c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        288,
        -144
      ],
      "id": "726a1fca-e419-4b4d-8980-fc57e36b57d1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -384,
        408
      ],
      "id": "0ef6c354-4034-48a5-bcb0-b67c7102d4e3",
      "name": "When chat message received",
      "webhookId": "af8b0f0f-d2db-4466-9784-29fb71efec80"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "אתה סוכן AI מיוחד לניהול נוכחות יומית של יחידה צבאית. תפקידך לענות על שאלות בנושא נוכחות, לנתח את המידע מגיליון ה-Google Sheets, ולהציג תוצאות בצורה מקצועית, ברורה ומסודרת בפורמט מותאם לטלגרם.\n\n### מבנה הנתונים\nכל רשומה בגיליון מכילה:\n- *name*: שם מלא\n- *personalNumber*: מספר אישי\n- *department*: מחלקה\n- *role*: תפקיד\n- *todayValue*: סטטוס נוכחות (ראו מפתח למטה)\n- *dateUsed*: תאריך הדיווח (פורמט: d/m/yy, לדוגמה: 5/3/26)\n\n### מפתח סטטוסים (todayValue)\n- *1*: 🪖 *בבסיס*\n- *0*: 🏠 *בבית*\n- *2*: 🤒 *מחלה/גימלים*\n- *4*: 🔀 *פיצול*\n- *5*: 👋 *שוחרר*\n- *ריק/אחר*: ❓ *אחר/לא דווח* (אם מופיע טקסט אחר, הצג אותו לצד האייקון, לדוגמה: \"❓ הכשרה\")\n\n### כללי עבודה ופורמט תשובה\n1. *שפה וטון*: ענה תמיד בעברית תקנית ומקצועית.\n2. *הדגשות טלגרם*: השתמש ב-*כוכביות* להדגשת שמות, מספרים וכותרות (Markdown).\n3. *סינון*: התעלם לחלוטין משורות בהן השדה *name* ריק.\n4. *תאריך*: אם לא צוין תאריך, התייחס לתאריך היום. פורמט החיפוש בגיליון הוא *d/m/yy* (ללא אפס מוביל בימים/חודשים מתחת ל-10).\n5. *דיוק*: אל תמציא נתונים. אם מידע חסר, ציין זאת.\n\n### מבנה תשובה מומלץ (סיכום)\n📊 *דוח נוכחות — [תאריך]*\nסה\"כ: *[נוכחים]* מתוך *[סה\"כ]* ([אחוז]%)\n\n🪖 *בבסיס*: [מספר]\n🏠 *בבית*: [מספר]\n🤒 *מחלה*: [מספר]\n🔀 *פיצול*: [מספר]\n👋 *שוחרר*: [מספר]\n❓ *אחר/לא דווח*: [מספר]\n\n---\n*פירוט לפי מחלקות:*\n*[שם מחלקה]*: [נוכחים]/[סה\"כ] בבסיס\n• [תפקיד]: [סטטוס]\n..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -40,
        304
      ],
      "id": "ed7fc078-c57e-45a0-bd19-daeefa787a01",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        528
      ],
      "id": "b0b03cf5-1446-4ba5-8d32-c691000de4e7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -160,
        528
      ],
      "id": "ee9dc4d2-e7f4-4c21-b4a2-408cdc47a58d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4RUbQby5ZAQBmAAH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1488279794,
          "mode": "list",
          "cachedResultName": "דוח 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI/edit#gid=1488279794"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        96,
        528
      ],
      "id": "83c9d94e-b394-433c-9383-13e2339af232",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gc1kEdz83WlO5i4v",
          "name": "Google Sheets MP 3 979"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        224,
        528
      ],
      "id": "bba06486-2fc7-4df4-86e4-39b19300df1a",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        988
      ],
      "id": "9bbc1656-5047-4978-bfc8-b1e826e900fe",
      "name": "Telegram Trigger",
      "webhookId": "9394adfb-ddb9-43a7-a461-491b54eada08",
      "credentials": {
        "telegramApi": {
          "id": "UNrH9RxQ2BJssAsp",
          "name": "Telegram account MP-3979"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        840
      ],
      "id": "1eee5d66-f95d-41a7-83c5-a85032d7b270",
      "name": "Send a text message",
      "webhookId": "7686660a-a62d-4517-9ef3-0198ee9aca5c",
      "credentials": {
        "telegramApi": {
          "id": "UNrH9RxQ2BJssAsp",
          "name": "Telegram account MP-3979"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "af771484-057f-4fd2-b5ce-cfbaa1b43533",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 256170040,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "553fc034-70e3-47e7-91af-2560e03db8aa",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 468720701,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "f4d5fc49-a314-4d67-b379-24d071045952",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 627068337,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "1b00dca8-afc0-4c4d-9db6-9c103fe8217d",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 5693758614,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        988
      ],
      "id": "89f9f3f9-1060-47ae-b8ae-46a82bf86427",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "המפקד לא מאשר לי לדבר איתך ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        184,
        1136
      ],
      "id": "d1a244e6-6118-4106-a74b-37a899da8cb1",
      "name": "Send a text message1",
      "webhookId": "453bbe4b-bce9-41bc-a349-88c0eb5b8242",
      "credentials": {
        "telegramApi": {
          "id": "UNrH9RxQ2BJssAsp",
          "name": "Telegram account MP-3979"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}\n\n\ncurrent date {{$now}} \n\nUser name is : {{ $('Telegram Trigger').item.json.message.from.first_name }}\n",
        "options": {
          "systemMessage": "אתה סוכן AI מיוחד לניהול נוכחות יומית של יחידה צבאית. תפקידך לענות על שאלות בנושא נוכחות, לנתח את המידע מגיליון ה-Google Sheets, ולהציג תוצאות בצורה מקצועית, ברורה ומסודרת בפורמט מותאם לטלגרם.\n\n### מבנה הנתונים\nכל רשומה בגיליון מכילה:\n- *name*: שם מלא\n- *personalNumber*: מספר אישי\n- *department*: מחלקה\n- *role*: תפקיד\n- *todayValue*: סטטוס נוכחות (ראו מפתח למטה)\n- *dateUsed*: תאריך הדיווח (פורמט: d/m/yy, לדוגמה: 5/3/26)\n\n### מפתח סטטוסים (todayValue)\n- *1*: 🪖 *בבסיס*\n- *0*: 🏠 *בבית*\n- *2*: 🤒 *מחלה/גימלים*\n- *4*: 🔀 *פיצול*\n- *5*: 👋 *שוחרר*\n- *ריק/אחר*: ❓ *אחר/לא דווח* (אם מופיע טקסט אחר, הצג אותו לצד האייקון, לדוגמה: \"❓ הכשרה\")\n\n### כללי עבודה ופורמט תשובה\n1. *שפה וטון*: ענה תמיד בעברית תקנית ומקצועית.\n2. *הדגשות טלגרם*: השתמש ב-*כוכביות* להדגשת שמות, מספרים וכותרות (Markdown).\n3. *סינון*: התעלם לחלוטין משורות בהן השדה *name* ריק.\n4. *תאריך*: אם לא צוין תאריך, התייחס לתאריך היום. פורמט החיפוש בגיליון הוא *d/m/yy* (ללא אפס מוביל בימים/חודשים מתחת ל-10).\n5. *דיוק*: אל תמציא נתונים. אם מידע חסר, ציין זאת.\n\n### מבנה תשובה מומלץ (סיכום)\n📊 *דוח נוכחות — [תאריך]*\nסה\"כ: *[נוכחים]* מתוך *[סה\"כ]* ([אחוז]%)\n\n🪖 *בבסיס*: [מספר]\n🏠 *בבית*: [מספר]\n🤒 *מחלה*: [מספר]\n🔀 *פיצול*: [מספר]\n👋 *שוחרר*: [מספר]\n❓ *אחר/לא דווח*: [מספר]\n\n---\n*פירוט לפי מחלקות:*\n*[שם מחלקה]*: [נוכחים]/[סה\"כ] בבסיס\n• [תפקיד]: [סטטוס]\n...\n\nהגליון משתנה לעיתים תכופות - תמיד יש לשלוף נתונים מחדש."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        120,
        736
      ],
      "id": "468efed0-353a-4a13-81dc-c147d71bae1d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        960
      ],
      "id": "86b430d5-4d2b-4697-ac0f-d3ecf0f21f46",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1488279794,
          "mode": "list",
          "cachedResultName": "דוח 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI/edit#gid=1488279794"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        320,
        960
      ],
      "id": "4ac49ce8-7cfa-4a5f-a592-53c50189735b",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gc1kEdz83WlO5i4v",
          "name": "Google Sheets MP 3 979"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        64,
        960
      ],
      "id": "d17e544a-4f77-4e57-b589-3a9a72bb3dc6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "4RUbQby5ZAQBmAAH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-status",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        80
      ],
      "id": "f415fc3c-141c-470c-a046-9e6e265350a6",
      "name": "Webhook Update",
      "webhookId": "11d8116e-4ce8-4d38-9f8a-ac081a97fdce"
    },
    {
      "parameters": {
        "jsCode": "const { name, date, status } = $input.first().json.body;\n\nfunction getFormattedDate(dateStr) {\n    if (!dateStr) return null;\n    \n    // Normalize input to string\n    const str = String(dateStr).trim();\n\n    // Handle d/m/yy, dd/mm/yyyy etc\n    const parts = str.split(/[./-]/);\n    if (parts.length === 3) {\n        let [d, m, y] = parts;\n        if (y.length === 4) y = y.slice(-2);\n        return `${parseInt(d)}/${parseInt(m)}/${y}`;\n    }\n\n    // Handle 4-digit format \"2326\" -> \"2/3/26\"\n    if (/^\\d{4}$/.test(str)) {\n        return `${str[0]}/${str[1]}/${str.slice(2)}`;\n    }\n    \n    // Handle 6-digit format \"020326\" -> \"2/3/26\"\n    if (/^\\d{6}$/.test(str)) {\n        return `${parseInt(str.slice(0, 2))}/${parseInt(str.slice(2, 4))}/${str.slice(4)}`;\n    }\n\n    return str;\n}\n\nconst formattedDate = getFormattedDate(date);\n\n// We create an object where the key is the ACTUAL column name in the Google Sheet\n// This allows the Google Sheets node to find the column dynamically.\nconst result = {\n  \"שם\": name,\n};\n\nif (formattedDate) {\n  result[formattedDate] = status;\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        80
      ],
      "id": "970a0182-8fad-4b49-873f-0569aa2e0e7c",
      "name": "Format Data"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1488279794,
          "mode": "list",
          "cachedResultName": "דוח 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI/edit#gid=1488279794"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "שם"
          ],
          "schema": [
            {
              "id": "מספר אישי",
              "displayName": "מספר אישי",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "שם",
              "displayName": "שם",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "דרגה",
              "displayName": "דרגה",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "מחלקה",
              "displayName": "מחלקה",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "אחוז איוש",
              "displayName": "אחוז איוש",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "הערות",
              "displayName": "הערות",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "נייד ",
              "displayName": "נייד ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "תפקיד",
              "displayName": "תפקיד",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "28/2/26",
              "displayName": "28/2/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1/3/26",
              "displayName": "1/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2/3/26",
              "displayName": "2/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "3/3/26",
              "displayName": "3/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "4/3/26",
              "displayName": "4/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "5/3/26",
              "displayName": "5/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "6/3/26",
              "displayName": "6/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "7/3/26",
              "displayName": "7/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "8/3/26",
              "displayName": "8/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "9/3/26",
              "displayName": "9/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "10/3/26",
              "displayName": "10/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "11/3/26",
              "displayName": "11/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "12/3/26",
              "displayName": "12/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "13/3/26",
              "displayName": "13/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "14/3/26",
              "displayName": "14/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "15/3/26",
              "displayName": "15/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "16/3/26",
              "displayName": "16/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "17/3/26",
              "displayName": "17/3/26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        64,
        80
      ],
      "id": "e891c275-0b6c-47f2-94fa-727fda73c856",
      "name": "Update Status in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gc1kEdz83WlO5i4v",
          "name": "Google Sheets MP 3 979"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Status updated successfully",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        288,
        80
      ],
      "id": "749de157-4c85-4862-b4dc-40bb11414f78",
      "name": "Respond to Update Webhook"
    },
    {
      "parameters": {
        "path": "979/vacation",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -368
      ],
      "id": "c22d66b6-8aae-473f-a302-d6a0a23a0387",
      "name": "Webhook1",
      "webhookId": "68647e49-80a1-4372-8fa2-62244a6cbbc6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1488279794,
          "mode": "list",
          "cachedResultName": "דוח 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wKMVEUvH2WldLqESaIDHztikf0e5c9i2LgwcyFifqzI/edit#gid=1488279794"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "מספר אישי",
              "lookupValue": "={{ $json.query.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        -368
      ],
      "id": "73a783f2-533b-4291-8ce5-21a7a15d7148",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gc1kEdz83WlO5i4v",
          "name": "Google Sheets MP 3 979"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.first().json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        288,
        -368
      ],
      "id": "e8685247-363d-4430-b75d-13684d500119",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = $input.first().json;\n\n  // Remove unwanted fields\n  delete data[\"row_number\"];\n  delete data[\"מספר אישי\"];\n  delete data[\"דרגה\"];\n  delete data[\"מחלקה\"];\n  delete data[\"אחוז איוש\"];\n  delete data[\"תפקיד\"];\n  delete data[\"הערות\"];\n  return { json: data };\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -368
      ],
      "id": "a5f44104-2d29-4f2c-b7af-1f863b0b8968",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Update Status in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status in Sheet": {
      "main": [
        [
          {
            "node": "Respond to Update Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ff01cdea-b501-41b7-9756-602b15347a2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d58c928056a8a686ed6f51eff3debe7d6dc6b96afa5deea546dcfb5b172f4fa"
  },
  "id": "zHrqNHfDab6dQZIIg04HA",
  "tags": []
}